<div class="container">
  <div *ngIf="tradeSetup">
    <a class="btn" [routerLink]="['/trades']"  ><i class="fas fa-long-arrow-alt-left"></i>Back</a>
    <a [routerLink]="['./edit']"><i class="fas fa-pen"></i>Edit</a>
    <h1>{{ tradeSetup.Ticker }}</h1>
    <h3>Long Trend</h3>
    <div class="row">
      <div class="col-sm-5"><img class="chart-medium" src="../../../assets/images/no-image.png"></div>
      <div class="col-sm-7">{{ tradeSetup.LongTrend }}</div>
    </div>
    <h3>Middle Trend</h3>
    <div class="row">
      <div class="col-sm-5"><img class="chart-medium" src="../../../assets/images/no-image.png"></div>
      <div class="col-sm-7">{{ tradeSetup.MiddleTrend }}</div>
    </div>
    <h3>Short Trend</h3>
    <div class="row">
      <div class="col-sm-5"><img class="chart-medium" src="../../../assets/images/no-image.png"></div>
      <div class="col-sm-7">{{ tradeSetup.ShortTrend }}</div>
    </div>
    <h3>Fundamental Text</h3>
    <div class="row">
      <div class="col-sm-12">{{ tradeSetup.FundamentalText }}</div>
    </div>
  </div>
</div>
